 <h2>Mailbox Self Service: /<%= @domain.fqdn %>/</h2>
 <ul>
  <li><a href="../">..</a></li>
 <% @mailboxes.each do |mbox| %>
  <li><a href="/mss/<%= @domain.fqdn %>/<%= mbox.local_part %>/"><%= mbox.local_part %></a></li>
  <% end %>
 </ul>

 <form method="post" action="/mss/<%= @domain.fqdn %>/">
  <input type="hidden" name="_method" value="put" />
  <p><input type="text" name="local_part" tabindex="1">@<%= @domain.fqdn %></p>
  <p><input type="password" name="password" tabindex="2" placeholder="password"></p>
  <p><input type="text" name="description" tabindex="3" placeholder="description"></p>
  <input type="submit" tabindex="4">
</form>